* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Grotesk';
    background: #FCFAFF;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    height: 76px;
    background-color: #fff;
    border-bottom: 1px solid #f8e0fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}

header img {
    width: 151px;
    height: 40px;
    margin-right: 32px;
}

.menu__wrap {
    display: flex;
}

.menu__wrap a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    opacity: 0.5;
}

/* header end*/
/* section-start */
/* section__main */
.main {
    position: relative;
}

.main__bg {
    position: absolute;
    width: 1440px;
    height: 499px;
    left: 0px;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    filter: blur(116px);
    z-index: -1;
}

.main__box {
    text-align: center;
    padding: 117px 0px 82px 0px;
    /* white-space: nowrap; */
}

.main__box h1 {
    font-weight: 700;
    line-height: 96px;
    font-size: 80px;
    color: #000000;
    text-shadow: -5px 4px 7px #ffffff;
}

.main__box p {
    font-weight: 400;
    font-size: 16px;
    color: #532C59;
    padding: 32px 0px;
}

.main__box button {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding: 16px 20px;
    background: #332c59;
}


/* section__main end*/
/* section__partners */

.section__partners {
    padding-top: 72px;
}

.partners__box {
    padding: 0px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 40px;
}

/* section__partners  end*/
/* section__team */
.section__team {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 120px;
}

.section__team h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
}

.section__team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}

.team__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 70px;
}

.team__box img {
    width: 80px;
    height: 80px;
}

.team__box h1 {
    /* font-family: 'Syne'; */
    font-weight: 700;
    text-align: center;
    color: #000000;
    padding: 8px 32px;
}

.team__box p {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #532C59;
}

/* section__team end*/
/* section__collections */
.collections__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections__header h1 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
    padding-top: 80px;
}

.collections__header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
    text-align: center;
}

.collections__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 64px;

}

.collections__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 412px;
    margin: 0 16px;
    margin-bottom: 64px;
}

.collections__box h2 {
    font-family: 'Syne';
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 12px;
    margin-top: 16px;
}

.collections__box p {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #532C59;
}

/* section__collections end */
/* section__providing start */

.section__providing {
    margin-top: 75px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section__providing h1 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000000;
}

.section__providing p:nth-child(2) {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #532C59;
    margin: 24px 0px 60px 0;
}

.providing {
    display: flex;
    font-family: row wrap;
    padding: 0 0 80px 0;
}

.providing__box {
    width: 301px;
    padding: 20px 16px;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;


}


.providing__box h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    margin-top: 16px;
}

.providing__box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
    margin-top: 12px
}

/* section__providing end */

/* qa start */

.section__qanda {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.section__qanda .wrapper1 {
    margin-right: 32px;
}

/* .section__qanda .wrapper1 {} */

.section__qanda .text__wrapper {
    display: flex;
    flex-flow: column;
    margin-right: 32px;
    max-width: 412px;

}

.section__qanda h2 {
    font-family: 'Syne';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 24px;
    margin-top: 0;
}

.section__qanda h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
    margin: 0;

}

.qa__wrapper {
    padding: 24px;
    border: 2px solid #d6bcfa;
    border-radius: 15px;
    background: #FCFAFF;
    position: relative;
    max-width: 412px;
    height: fit-content;
    margin-bottom: 24px;
}

.qa__wrapper p {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
    margin: 0;
    padding-bottom: 12px;


}

.qa__wrapper span {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #532C59;
    overflow: hidden;
    transition: 0.3s;
}

.qa__wrapper svg {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

/* section__ready end */
/* section__ready start */
.section__ready {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 90px;
    margin-bottom: 160px;
}

.ready__wrapper {
    background: #FCFAFF;
    border: 1px solid #d6bcfa;
    border-radius: 60px;
    box-shadow: inset 0px 0px 50px #f8e0fa;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 446px;
    position: relative;
}

.ready__wrapper h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 16px;
}

.ready__wrapper h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #532C59;
    margin-top: 0;
    margin-bottom: 32px;
}

.ready__wrapper button {
    /* width: 156px;
    height: 52px; */
    background: #532C59;
    border-radius: 15px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    color: #fdfdfd;
    outline: none;
    padding: 16px 20px;
    border: none;
}

.ready__wrapper img {
    position: absolute;
}

.ready__wrapper img:first-child {
    left: 0;
}

.ready__wrapper img:nth-child(2) {
    right: 0;
}

/* section__ready end */
/* section-end */

footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding-right: 70px;
    padding-left: 70px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid #ccd5df;
}

footer .top a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    margin-right: 24px;
}

footer .top .aWrapper:last-child {
    margin-right: 0;
}

footer .bottom {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
}